@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Urbanist";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(assets/fonts/urbanist/urbanist.ttf) format("truetype");
  }
}
